:root {
  --color-black: #121212;
  --color-green: #34C94B;
}

.button {
  background-color: var(--color-black);
  color: var(--color-green);
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}